.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 9999;
  background-image: url("../../../images/logo_place_header.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
